[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=too-few-public-methods,
        too-many-arguments,
        too-many-branches,
        too-many-instance-attributes,
        too-many-locals,
        too-many-public-methods

[SIMILARITIES]

# Ignore imports when computing similarities.
ignore-imports=yes

[STRING]

# This flag controls whether inconsistent-quotes generates a warning when the
# character used as a quote delimiter is used inconsistently within a module.
check-quote-consistency=yes
