docutils
m2r2
nbsphinx
sphinx-copybutton
sphinx>=3.1.0
# TODO: Use the Xanadu-Sphinx-Theme package on PyPI once it has been released.
git+ssh://git@github.com/XanaduAI/xanadu-sphinx-theme@phoenix#egg=xanadu_sphinx_theme

