name: Formatting Check
on:
- pull_request

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      - name: Run formatters
        run: make format

      - name: Run linters
        run: make lint
